{% extends 'base.html.twig' %}

{% block title %}New Civilite{% endblock %}

{% block body %}
    <h1>Create new Civilite</h1>

    {{ include('civilite/_form.html.twig') }}

    <a href="{{ path('civilite_index') }}">back to list</a>
{% endblock %}
