<form method="post" action="{{ path('note_examin_eleve_delete', {'id': note_examin_eleve.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note_examin_eleve.id) }}">
    <button class="btn">Delete</button>
</form>
