{% extends 'base.html.twig' %}

{% block title %}Edit Examin{% endblock %}

{% block body %}
    <h1>Edit Examin</h1>

    {{ include('examin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('examin_index') }}">back to list</a>

    {{ include('examin/_delete_form.html.twig') }}
{% endblock %}
