<form method="post" action="{{ path('proffesseur_delete', {'id': proffesseur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proffesseur.id) }}">
    <button class="btn">Delete</button>
</form>
