{% extends 'base.html.twig' %}

{% block title %}New TypeExamin{% endblock %}

{% block body %}
    <h1>Create new TypeExamin</h1>

    {{ include('type_examin/_form.html.twig') }}

    <a href="{{ path('type_examin_index') }}">back to list</a>
{% endblock %}
