{% extends 'base.html.twig' %}

{% block title %}New MatiereCour{% endblock %}

{% block body %}
    <h1>Create new MatiereCour</h1>

    {{ include('matiere_cour/_form.html.twig') }}

    <a href="{{ path('matiere_cour_index') }}">back to list</a>
{% endblock %}
